.page {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 100dvh;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height);
}

.page.modal-open {
  overflow: hidden;
}

.page.mobile-menu--open {
  overflow: hidden;
}
