.main {
  display: flex;
  flex-grow: 1;

  width: 100%;
  max-width: var(--container-width);
}

.main__inner {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;

  width: 100%;
}

.main__title {
  font-size: var(--font-size-title);
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--color-heading);
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-item);
  word-break: break-word;
}

@media (max-width: 1180px) {
  .main__inner {
    padding: 0 40px;
  }
}
