.main {
  display: flex;
  flex-grow: 1;

  width: 100%;
  max-width: var(--container-width);
}

.main__inner {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

@media (max-width: 1180px) {
  .main__inner {
    padding: 0 40px;
  }
}
