.mentors {
  position: relative;

  overflow: hidden;

  width: calc(100% + 80px);
  margin-bottom: 150px;
}

.mentors__swiper {
  width: 100%;
  height: 100%;
}

.mentors__swiper .swiper-slide {
  flex-shrink: 0;

  width: 100%;
  max-width: 360px;
}

.mentors__swiper .swiper-slide:not(.swiper-slide-active) .mentors__card-bg {
  opacity: .2;

  filter: blur(50px);
}

.mentors__card-wrapper {
  flex-shrink: 0;

  width: 100%;
  max-width: 320px;
}

.mentors__card-wrapper {
  position: relative;
}

.mentors__card-bg {
  position: absolute;
  z-index: 0;
  bottom: 50px;
  left: 50px;

  width: 135px;
  height: 135px;

  border-radius: 50%;
  background: linear-gradient(268deg, #D53289 0%, #EA5234 99.76%);
}

.mentors__card {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 25px 55px;

  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background: rgba(30, 30, 30, 0.01);

  backdrop-filter: blur(85px);
  gap: 20px;
  filter: drop-shadow(0px 4.286px 42.857px rgba(0, 0, 0, 0.07));
}

.mentors__logo {
  width: 75px;
}

.mentors__photo-ring {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 162px;
  height: 162px;
  padding: 15px;

  border-radius: 50%;
  background: linear-gradient(268deg, #D53289 0%, #EA5234 99.76%);
}

.mentors__photo {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background: #2C2C2C;
  background-position: center;
  background-size: cover;
}

.mentors__image {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  object-fit: cover;
}

.mentors__image--placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: #FFF8F8;
  border-radius: 50%;
  background: #2C2C2C;

  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.mentors__name {
  text-align: center;
  text-transform: uppercase;

  color: #FFF8F8;

  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.mentors__facts {
  display: flex;
  align-items: center;

  color: #FFF;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;

  gap: 34px;
}

.mentors__fact {
  display: flex;
  align-items: center;

  padding: 12px 22px;

  white-space: nowrap;

  border: 1px solid #D9D9D9;
  border-radius: 8px;

  gap: 10px;
}

.mentors__fact::after {
  width: 14px;
  height: 13px;

  content: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M12.903 3.64282L10.2634 6.27466L9.95868 6.57837L10.2634 6.88208L12.903 9.51294L10.0036 12.4016L7.362 9.7688L7.05927 9.46704L6.75653 9.7688L4.15985 12.3547L1.26044 9.46606L3.85516 6.88208L4.15985 6.57837L3.85516 6.27466L1.26141 3.68872L4.15985 0.800049L6.75653 3.38794L7.05927 3.6897L7.362 3.38794L10.0036 0.75415L12.903 3.64282Z' stroke='white' stroke-width='0.857143'/%3E%3C/svg%3E%0A");
}

.mentors__more {
  padding: 16px 48px;

  color: #FFF;
  border: 1px solid #D53289;
  border-radius: 8px;
  background: linear-gradient(268deg, rgba(213, 50, 137, 0.50) 0%, rgba(234, 82, 52, 0.50) 99.76%);

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;

  filter: drop-shadow(11.088px 11.088px 55.438px rgba(0, 0, 0, 0.10));
  backdrop-filter: blur(75px);
}

.mentors__modal {
  display: none;
}

.mentors__description {
  display: none;
}

.mentors__socials {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.mentors__social {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
}

.mentors__social svg {
  width: 100%;
  height: 100%;
}

.mentors__buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;

  gap: 50px;
}

.mentors__button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px;

  cursor: pointer;

  border: none;
  border-radius: 8px;
  outline: none;
}

.mentors__button span {
  width: 100%;
  height: 100%;
  padding: 16px 44px;

  border-radius: 8px;
  background: var(--color-bg);
}

.mentors__button--prev {
  background: linear-gradient(106deg, #D53289 0%, #EA5234 99.76%);
}

.mentors__button--next {
  background: linear-gradient(268deg, #D53289 0%, #EA5234 99.76%);
}

.mentors__modal {
  position: fixed;
  z-index: 10;

  display: none;
  align-items: center;
  justify-content: center;

  inset: 0;
}

.mentors__modal.active {
  display: flex;
}

.mentors__modal-overlay {
  position: absolute;
  z-index: 1;

  background: rgba(0, 0, 0, 0.5);

  inset: 0;
  backdrop-filter: blur(10px);
}

.mentors__modal-wrapper {
  position: relative;
  z-index: 2;

  width: 90%;
  max-width: 600px;
}

.mentors__card--modal {
  max-width: 465px;

  pointer-events: auto;
}

.mentors__modal-content {
  display: none;
}

.mentors__modal.active .mentors__modal-content {
  display: flex;
}

.mentors__modal.active .mentors__description {
  display: block;

  max-width: 260px;

  text-align: center;

  color: #FFF;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
}

.mentors__card--modal .mentors__more {
  display: none;
}

.mentors__modal-close {
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 12px;

  cursor: pointer;

  color: #fff;
  border: none;
  background: none;

  font-size: 24px;
}


/* === Responsive: tablet === */
@media (max-width: 1180px) {
  .mentors {
    margin-bottom: 100px;
  }

  .mentors__card {
    padding: 20px;
  }

  .mentors__swiper .swiper-slide {
    max-width: 320px;
  }

  /* other tablet-specific adjustments */
}

/* === Responsive: desktop === */
@media (hover: hover) {
  .mentors {
    /* desktop styles */
  }

  .mentors__card {
    /* layout/grid for desktop */
  }

  .mentors__more:hover {
    cursor: pointer;
    /* hover effect for desktop */

    background: linear-gradient(268deg, rgba(213, 50, 137, 0.70) 0%, rgba(234, 82, 52, 0.70) 99.76%);
  }

  .mentors__button:hover span {
    background: linear-gradient(268deg, #D53289 0%, #EA5234 99.76%);
  }
}
