.rfc-features {
  margin-bottom: var(--spacing-section);
}

.rfc-features__inner {
  display: grid;

  max-width: 1180px;
  margin: 0 auto;

  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.rfc-feature {
  position: relative;

  min-height: 200px;
  padding: 35px 25px;

  border: 2px solid var(--color-white-10);
  border-radius: var(--radius-main);
  background: var(--color-bg-overlay);

  -webkit-filter: var(--shadow-main);
  filter: var(--shadow-main);
}

.rfc-feature__content {
  display: flex;
  flex-direction: column;

  gap: 36px;
}

.rfc-feature__icon {
  position: absolute;
  top: 25px;
  right: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 52px;

  border: 1px solid var(--color-white-30);
  border-radius: var(--radius-medium);
}

.rfc-feature__icon--gray {
  background: #353535;
}

.rfc-feature__icon--pink {
  background: #d53289;
}

.rfc-feature__icon--orange {
  background: #ea5234;
}

.rfc-feature__title {
  text-transform: uppercase;

  color: var(--color-white);

  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
}

.rfc-feature__description {
  color: var(--color-gray-light);

  font-family: Jost, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 140%;
}

@media (max-width: 1180px) {
  .rfc-features__inner {
    gap: 20px;
  }

  .rfc-feature__content {
    gap: 25px;
  }

  .rfc-features__inner {
    grid-template-columns: 1fr;
  }
}
