.rfc-how-it-was {
  position: relative;

  width: 100%;
  margin-bottom: var(--spacing-section);
}

.rfc-hiw__content {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 40px;
}

.rfc-hiw__header {
  display: flex;
  align-items: center;

  width: 100%;

  gap: 40px;
}

.rfc-hiw__title {
  flex: 1;

  text-transform: uppercase;

  color: var(--color-white);

  font-family: Jost;
  font-size: 52px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  margin-bottom: var(--spacing-item);
}

.rfc-hiw__description {
  flex: 1;

  width: 100%;
  min-height: 64px;

  opacity: 0.75;
  color: #b1b1b1;

  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.rfc-hiw__slider {
  position: relative;

  margin-bottom: var(--spacing-item);

  overflow: visible;
}

.rfc-how-it-was .rfc-hiw__slide.swiper-slide {
  position: relative;
  width: 400px;
  height: 240px;

  border-radius: var(--radius-large);

  overflow: hidden;
}

.rfc-how-it-was .rfc-hiw__slide.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid var(--color-white-50);
  border-radius: var(--radius-large);
  pointer-events: none;
}

.rfc-hiw__image {
  width: 100%;
  height: 100%;
}

.rfc-hiw__image img {
  width: 100%;
  height: 100%;

  border-radius: var(--radius-main);

  object-fit: cover;
}
.rfc-how-it-was .swiper-button-next,
.rfc-how-it-was .swiper-button-prev {
  z-index: 2;

  color: #000;
}

.rfc-how-it-was .swiper-button-next:after,
.rfc-how-it-was .swiper-button-prev:after {
  font-size: 24px;
}

.rfc-hiw__desktop-nav {
  display: flex;
  align-items: center;

  gap: 20px;
}

.rfc-hiw__mobile-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 50px;
}

.rfc-hiw__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 88px;
  height: 60px;
  padding: 1px;

  cursor: pointer;

  border: none;
  border-radius: var(--radius-main);
  outline: none;
  background: linear-gradient(106deg, #d53289 0%, #ea5234 99.76%);
}

.rfc-hiw__button span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 2px);
  height: calc(100% - 2px);

  border-radius: var(--radius-main);
  background: var(--color-bg);
}

.rfc-hiw__button--prev {
  top: 20px;
  left: 80px;
}

.rfc-hiw__button--next {
  top: 20px;
  right: 80px;
}

@media (hover: hover) {
  .rfc-hiw__button:hover span {
    background: var(--gradient-main);
  }
}

@media (max-width: 1180px) {
  .rfc-hiw__desktop-nav {
    display: none;
  }

  .rfc-hiw__header {
    height: auto;
  }

  .rfc-hiw__title {
    max-width: 100%;

    word-break: break-word;

    font-size: 24px;
    font-weight: 400;
  }

  .rfc-hiw__description {
    min-height: 100px;
    font-size: 16px;
    font-weight: 400;
  }

  .rfc-hiw__slider {
    width: 100vw;
    height: 250px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .rfc-how-it-was .rfc-hiw__slide.swiper-slide {
    width: 280px;
    height: 200px;
  }

  .rfc-hiw__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
    padding: 2px;

    cursor: pointer;

    border: none;
    border-radius: 8px;
    outline: none;
  }

  .rfc-hiw__button span {
    width: 100%;
    height: 100%;
    padding: 16px 44px;

    border-radius: 8px;
    background: var(--color-bg);
  }

  .rfc-hiw__button--prev {
    background: linear-gradient(106deg, #d53289 0%, #ea5234 99.76%);
  }

  .rfc-hiw__button--next {
    background: var(--gradient-main);
  }
}

@media (max-width: 768px) {
  .rfc-how-it-was .rfc-hiw__slide.swiper-slide {
    width: calc(100vw - 80px);
    height: 250px;
  }
}
