/* Block */
.rfc-cards-mix {
  display: grid;
  margin-bottom: 150px;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}

.rfc-cards-mix > *:nth-child(4n + 3) {
  order: 1;
}
.rfc-cards-mix > *:nth-child(4n + 4) {
  order: 0;
}

/* Card Border */
.rfc-cards-mix__card-border {
  height: 270px;
  padding: 4px;
  background: linear-gradient(
    135deg,
    rgba(255, 106, 0, 0.5),
    rgba(255, 46, 178, 0.5)
  );
  clip-path: path(
    "M580 214.5c0 10-6 19-15.1 23L494 268a25 25 0 0 1-9.9 2H25a25 25 0 0 1-25-25V25A25 25 0 0 1 25 0h530a25 25 0 0 1 25 25v189.5Z"
  );
}

/* Card Base */
.rfc-cards-mix__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
  padding: 55px 45px; /* общий padding для текста и изображения */
  background: linear-gradient(135deg, #ff6a00, #ff2eb2);
  clip-path: path(
    "M572 210.3c0 8.4-5 16-12.6 19.3l-70.8 30.7a21 21 0 0 1-8.3 1.7H21a21 21 0 0 1-21-21V21A21 21 0 0 1 21 0h530a21 21 0 0 1 21 21v189.3Z"
  );
}

/* Modifiers */
.rfc-cards-mix__card--image {
  padding: 0; /* у изображений убираем padding */
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

/* Elements */
.rfc-cards-mix__card-title {
  margin: 0;
  text-transform: uppercase;
  color: #fff8f8;
  font-family: Jost, serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
}

.rfc-cards-mix__card-description {
  margin: 0;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.rfc-cards-mix__card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

/* Media Queries — один универсальный брейкпоинт */
@media (max-width: 1180px) {
  .rfc-cards-mix {
    margin-bottom: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .rfc-cards-mix__card-border {
    padding: 1px;
    height: auto;
    clip-path: none;
    border-radius: 12px;
  }

  .rfc-cards-mix__card {
    clip-path: none;
    border-radius: 8px;
    padding: 38px 18px;
  }

  .rfc-cards-mix__card--image {
    padding: 0;
  }

  .rfc-cards-mix__card-image {
    padding: 2px;
    border-radius: 10px;
  }

  .rfc-cards-mix__card-title {
    font-size: 20px;
  }

  .rfc-cards-mix__card-description {
    font-size: 14px;
  }
}

@media (max-width: 475px) {
  .rfc-cards-mix {
    grid-template-columns: 1fr;
    gap: 14px;
    margin-bottom: 60px;
  }

  .rfc-cards-mix > * {
    order: 0;
  }

  .rfc-cards-mix > *:nth-child(4n + 3),
  .rfc-cards-mix > *:nth-child(4n + 4) {
    order: 0;
  }
}
