.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 40px 20px 40px;
  padding: 44px 35px;

  gap: 50px;
  color: #fff;
  border-radius: 20px;
  background-color: #2b2b2b;

  border: 2px solid var(--color-white-10);
}

.footer__container {
  display: flex;
  justify-content: space-between;

  max-width: var(--container-width);
}

.footer__logo {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 360px;
}

.footer__logo img {
  width: 100%;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.footer__info {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.footer__social-title {
  color: #fff;

  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__social-icons {
  display: flex;

  gap: 32px;
}

.footer__social-icon {
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer__social img {
  width: 60px;
  height: 60px;
}

.footer__callback {
  display: flex;
  justify-content: center;
}

.footer__button {
  padding: 14px 28px;

  cursor: pointer;

  color: white;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, #f44336, #e91e63);

  font-size: 16px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
}

.footer__link {
  text-decoration: underline;

  color: #aaa;

  font-size: 16px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-width);
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 40px;
}

.footer__column {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;
}

.footer__column--right {
  align-items: end;
}

.footer__link {
  display: block;

  text-decoration: none;

  opacity: 0.5;
  color: #fff;

  font-family: "Jost", sans-serif;
  font-size: 16px;

  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.footer__year {
  opacity: 0.5;
  color: #fff;

  font-family: "Jost", sans-serif;
  font-size: 16px;
}

.footer__links-title {
  display: none;

  color: #fdfdfd;

  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 15px;
}

.footer__callback-button {
  width: fit-content;
  padding: 20px 40px;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease;

  color: white;
  border-radius: 20px;
  background: linear-gradient(90deg, #ea5234, #d53289);

  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;

  text-transform: uppercase;
}

.footer__social-text {
  opacity: 0.5;
}

.footer__social-link {
  transition: all 0.3s ease;
  color: inherit;
}

.footer__social-contacts {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;

  font-family: "Jost", sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer {
    max-width: calc(100% - 80px);
    padding: 50px 22px;

    gap: 60px;
  }

  .footer__links-title {
    display: flex;

    width: 100%;

    text-align: start;
  }

  .footer__links {
    flex-direction: column;
    justify-content: center;

    gap: 20px;
  }

  .footer__columns {
    align-items: start;
    flex-direction: column;

    gap: 7px;
  }

  .footer__column {
    gap: 7px;
  }

  .footer__column--right {
    align-items: start;
  }

  .footer__logo {
    width: 100%;
    order: 1;
  }

  .footer__callback {
    order: 2;
  }

  .footer__social {
    align-items: start;
    order: 3;
  }

  .footer__social img {
    width: 42px;
    height: 42px;
  }

  .footer__container {
    align-items: start;
    flex-direction: column;

    text-align: center;

    gap: 60px;
  }

  .footer__info {
    align-items: start;
  }

  .footer__social-contacts {
    align-items: start;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__nav {
    flex-direction: column;
    gap: 10px;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (hover: hover) {
  .footer__link:hover {
    text-decoration: underline;

    color: #ff477e;
  }

  .footer__callback-button:hover {
    opacity: 0.9;
  }

  .footer__social-link:hover {
    color: #ff477e;
    text-decoration: underline;
  }

  .footer__social-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
}
