
.rfc-steps {
  margin-bottom: 180px;

  color: white;
}

.rfc-steps__inner {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  gap: 20px;
}

.rfc-step {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 25px;

  border: 2px solid rgba(255, 255, 255, 0.40);
  border-radius: 25px;

  gap: 20px;
}

.rfc-step__number {
  position: relative;
  z-index: 1;

  order: 1;

  text-align: center;
  text-transform: uppercase;

  color: #FFF;

  font-family: Supertalls;
  font-size: 66.048px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.rfc-step__number-shadow {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;

  opacity: 0.2;
  color: #F4CBC3;

  font-family: Supertalls;
  font-size: 99.072px;
  font-weight: 400;
  font-style: normal;

  filter: blur(5px);
}

.rfc-step__content {
  display: flex;
  flex-direction: column;
  order: 3;

  width: 100%;

  gap: 20px;
}

.rfc-step__title {
  letter-spacing: -1.28px;
  text-transform: uppercase;

  font-family: Jost;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
}

.rfc-step__description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
}

.rfc-step__image {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.rfc-step__image img {
  width: 100%;
  width: 150px;
  height: auto;
}

.rfc-step--black {
  background: #212121;
}

.rfc-step--white {
  color: #212121;
  background: #E0E0E0;
}

.rfc-step--white .rfc-step__number-shadow {
  opacity: 0.1;
  color: #212121;
}

.rfc-step--gradient-pink {
  background: linear-gradient(135deg, #E82AFF, #FF2EB2);
}

.rfc-step--gradient-orange {
  background: var(--gradient-main);
}

.rfc-step--gradient-mix {
  background: linear-gradient(269deg, #EA5234 0%, #D53289 99.98%);
}

@media (min-width: 1180px) {
  .rfc-steps__inner {
    gap: 0;
  }
  .rfc-step {
    flex-wrap: nowrap;

      padding: 5px 50px 25px 60px;

  }

  .rfc-step__content {
    order: 2;

    padding-left: 150px;

    gap: 30px;
  }

  .rfc-step__number {
    order: 1;

    min-width: 150px;

    font-size: 96px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
  }

  .rfc-step__number-shadow {
    font-size: 144px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
  }

  .rfc-step:not(:first-child) {
    margin-top: -20px;
  }

  .rfc-step__image {
    order: 3;
  }

  .rfc-step__image img {
    width: 250px;
  }
}
