.rfc-steps {
  margin-bottom: var(--spacing-section);

  color: var(--color-white);
}

.rfc-steps__inner {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  gap: 20px;
}

.rfc-step {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 25px;

  border: 2px solid var(--color-white-40);
  border-radius: var(--radius-large);

  gap: 100px;
}

.rfc-step:last-child {
  border-radius: var(--radius-large);
}

.rfc-step__number {
  position: relative;
  z-index: 1;

  order: 1;

  text-align: center;
  text-transform: uppercase;

  color: var(--color-white);

  font-family: var(--font-digits);
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.rfc-step__content {
  display: flex;
  flex-direction: column;
  order: 3;

  width: 100%;

  gap: 20px;
}

.rfc-step__title {
  text-transform: uppercase;

  font-family: Jost;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
}

.rfc-step__description {
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
}

.rfc-step__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-grow: 1;
  order: 2;
  top: 0;
  right: 0;
  width: 60%;
  height: 200px;
  position: absolute;
}

.rfc-step__image img {
  height: auto;
  position: absolute;

  height: 260px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9;
}

.rfc-step--black {
  background: #212121;
}

.rfc-step--white {
  color: #212121;
  background: #cfcfcf;
}

.rfc-step--gradient-pink {
  background: linear-gradient(135deg, #e82aff, #ff2eb2);
}

.rfc-step--gradient-orange {
  background: var(--gradient-main);
}

.rfc-step--gradient-mix {
  background: linear-gradient(269deg, #ea5234 0%, #d53289 99.98%);
}

@media (min-width: 1180px) {
  .rfc-steps__inner {
    gap: 0;
  }

  .rfc-step {
    flex-wrap: nowrap;

    border-radius: var(--radius-large) var(--radius-large) 0 0;

    padding: 45px 50px 45px 60px;

    gap: 65px;
  }

  .rfc-step__content {
    order: 2;

    gap: 12px;
  }

  .rfc-step__number {
    order: 1;

    min-width: 320px;

    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
  }

  .rfc-step:not(:first-child) {
    margin-top: -20px;
  }

  .rfc-step__image {
    order: 3;
    height: 150px;
    width: 250px;
    min-width: 250px;
    position: relative;
    overflow: visible;
  }

  .rfc-step__image img {
    position: absolute;
    width: 120%;
    max-width: unset;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}
