/* Header Layout */
.header {
  position: sticky;
  z-index: 10;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: var(--container-width);
  margin-top: -2px;
  margin-bottom: 35px;
  margin-left: -2px;
  margin-right: -2px;
  padding: 12px 40px;

  color: var(--color-text);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 var(--radius-large) var(--radius-large);
  background-color: rgba(62, 62, 62, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.07));
}

/* Left Section */
.header__left {
  display: flex;
  align-items: center;

  gap: 10px;
}

.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  cursor: pointer;
  transition: all 0.3s ease;

  border: 2px solid transparent;
  border-radius: var(--radius-medium);
  background: linear-gradient(
    178deg,
    rgba(213, 50, 137, 0.2) 0%,
    rgba(234, 82, 52, 0.2) 99.76%
  );
  background-clip: padding-box;
  position: relative;
}

.header__icon::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(
    178deg,
    rgba(213, 50, 137, 0.3) 0%,
    rgba(234, 82, 52, 0.3) 99.76%
  );
  border-radius: var(--radius-medium);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  z-index: -1;
}

.header__icon svg {
  width: 24px;
  height: 24px;
}

.header__button {
  display: none;

  box-sizing: border-box;
  padding: 18px 44px;

  cursor: pointer;
  transition: all 0.5s ease;

  color: var(--color-text);
  border-radius: var(--radius-main);
  background: var(--gradient-main);

  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;

  backdrop-filter: blur(75px);
  text-decoration: none;
  text-transform: uppercase;
}

/* Logo Section */
.header__logo {
  display: flex;

  width: 70px;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.nav-bar {
  display: none;
  position: sticky;
  z-index: 9;
  top: 0;

  width: 100%;
}

.nav-bar__container {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 40px;
}

.nav-bar__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 40px;
}

.nav-bar__item {
  position: relative;
}

.nav-bar__link {
  display: block;

  padding: 20px 0;

  transition: color 0.3s ease;
  text-decoration: none;

  color: var(--color-text);

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.nav-bar__link::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 2px;

  transition: width 0.3s ease;

  background: linear-gradient(178deg, #d53289 0%, #ea5234 99.76%);
}

/* Right Section */
.header__right {
  display: flex;
  align-items: center;

  gap: 20px;
}

.header__contact {
  display: none;

  gap: 10px;
}

.header__status {
  display: flex;

  width: 100%;

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  opacity: 0.5;
}

.header__phone {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.header__phone-link {
  transition: color 0.3s ease;
  text-align: center;

  color: #fff;

  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.header__social {
  display: none;
  align-items: center;

  gap: 20px;
}

.header__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  color: #fff;
}

.header__social-icon svg {
  width: 100%;
  height: 100%;
}

.header__age {
  display: none;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background: var(--gradient-main);

  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow-y: auto;
  flex-direction: column;

  background-color: #2b2b2b;
  gap: 20px;
}

.mobile-menu--open {
  display: flex;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 20px 40px;
  background-color: #1e1e1e;

  list-style: none;

  gap: 20px;
}

.mobile-menu__divider {
  width: 100%;
  height: 2px;

  border: none;
  border-radius: 50px;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(234, 82, 52, 0.5) 0%,
    rgba(213, 50, 137, 0.5) 22.12%,
    rgba(33, 33, 33, 0.5) 82.21%
  );
}

.mobile-menu__bottom {
  display: flex;
  flex-direction: column;

  padding: 20px 40px;

  gap: 40px;
}

.mobile-menu__link {
  transition: color 0.3s ease;
  text-decoration: none;

  color: #fffefe;

  font-family: Jost, sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
}

.mobile-menu__link:hover {
  color: var(--color-accent);
}

.mobile-menu__callback-btn {
  display: flex;

  box-sizing: border-box;
  padding: 18px 30px;

  cursor: pointer;
  transition: all 0.5s ease;

  border: none;
  color: var(--color-text);
  border-radius: var(--radius-main);
  background: var(--gradient-main);

  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;

  backdrop-filter: blur(75px);
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-menu__callback-btn:hover {
  background: linear-gradient(
    178deg,
    rgba(213, 50, 137, 0.4) 0%,
    rgba(234, 82, 52, 0.4) 99.76%
  );
}

.mobile-menu__social {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.mobile-menu__social-title {
  color: #fdfdfd;

  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 15px;
}

.mobile-menu__social-icons {
  display: flex;

  gap: 20px;
}

.mobile-menu__social-icon {
  width: 28px;
  height: 28px;

  transition: transform 0.3s ease;
}

.mobile-menu__social-icon:hover {
  transform: scale(1.1);
}

.mobile-menu__contact {
  display: flex;

  color: #fdfdfd;

  font-family: "Jost", sans-serif;
  font-size: 16px;

  gap: 15px;
}

.mobile-menu__age {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 59px;
  height: 59px;

  border-radius: 50%;
  background: var(--gradient-main);

  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
}

/* Media Queries */
@media (min-width: 1180px) {
  .header {
    top: 28px;

    padding: 24px 40px;

    margin-top: 28px;
    margin-bottom: 0;

    border-radius: var(--radius-large);
  }

  .nav-bar {
    top: 28px;
  }

  .header__button {
    display: flex;
  }

  .nav-bar {
    display: flex;
  }

  .header__contact {
    display: flex;

    gap: 20px;
  }

  .header__logo {
    width: 100px;
  }

  .header__icon {
    display: none;
  }

  .header__age {
    display: flex;
  }

  .header__social {
    display: flex;
  }
}

/* Hover Effects */
@media (hover: hover) {
  .header__icon:hover {
    background: linear-gradient(
      178deg,
      rgba(213, 50, 137, 0.3) 0%,
      rgba(234, 82, 52, 0.3) 99.76%
    );
  }

  .header__icon:hover::before {
    background: linear-gradient(
      178deg,
      rgba(213, 50, 137, 0.6) 0%,
      rgba(234, 82, 52, 0.6) 99.76%
    );
  }

  .header__button:hover {
    border-color: #d53289;
    background: linear-gradient(
      178deg,
      rgba(213, 50, 137, 0.4) 0%,
      rgba(234, 82, 52, 0.4) 99.76%
    );
  }

  .header__phone-link:hover {
    color: var(--color-accent);
  }

  .nav-bar__link:hover {
    color: var(--color-accent);
  }

  .nav-bar__link:hover::after {
    width: 100%;
  }

  .header__social-icon:hover {
    color: var(--color-accent);
    transform: scale(1.1);
  }
}
