/* Header Layout */
.header {
  position: sticky;
  z-index: 10;
  /* или больше, чтобы шапка была поверх всего */
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: var(--container-width);
  margin-bottom: 35px;
  padding: 24px 40px;

  color: var(--color-text);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 25px 25px;
  background-color: rgba(62, 62, 62, 0.8);

  filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.07));
}

/* Left Section */
.header__left {
  display: flex;
  align-items: center;

  gap: 20px;
}

.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  cursor: pointer;
  transition: all 0.3s ease;

  border: 1px solid #d53289;
  border-radius: 10px;
  background: linear-gradient(
    178deg,
    rgba(213, 50, 137, 0.2) 0%,
    rgba(234, 82, 52, 0.2) 99.76%
  );
}

.header__icon svg {
  width: 24px;
  height: 24px;
}

.header__button {
  display: none;

  box-sizing: border-box;
  padding: 18px 44px;

  cursor: pointer;
  transition: all 0.5s ease;

  color: var(--color-text);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background: linear-gradient(178deg, #d53289 0%, #ea5234 99.76%);

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;

  backdrop-filter: blur(75px);
  text-decoration: none;
}

/* Logo Section */
.header__logo {
  display: flex;

  width: 80px;
}

.header__logo img {
  width: 100%;
  height: auto;
}

/* Right Section */
.header__right {
  display: flex;
  align-items: center;

  gap: 20px;
}

.header__contact {
  display: none;

  gap: 10px;
}

.header__status {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 11px;
}

.header__phone {
  display: flex;
  align-items: end;
  flex-direction: column;

  color: var(--color-text);

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;

  gap: 10px;
}

.header__phone-link {
  transition: color 0.3s ease;
  text-align: center;

  color: #fff;

  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;

  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.header__social {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 5px;
}

.header__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease;
}

.header__age {
  display: none;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: 1px solid #d53289;
  border-radius: 50%;
  background: linear-gradient(178deg, #d53289 0%, #ea5234 99.76%);

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow-y: auto;
  flex-direction: column;

  padding: 40px;

  background-color: #1e1e1e;

  gap: 20px;
}

.mobile-menu--open {
  display: flex;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;
}

.mobile-menu__divider {
  width: 100%;
  height: 2px;

  border: none;
  border-radius: 50px;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(234, 82, 52, 0.5) 0%,
    rgba(213, 50, 137, 0.5) 22.12%,
    rgba(33, 33, 33, 0.5) 82.21%
  );
}

.mobile-menu__link {
  transition: color 0.3s ease;
  text-decoration: none;

  color: #fffefe;

  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
}

.mobile-menu__link:hover {
  color: var(--color-accent);
}

.mobile-menu__callback-btn {
  width: fit-content;
  padding: 25px;

  cursor: pointer;
  transition: all 0.3s ease;

  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(90deg, #ea5234, #d53289);

  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.mobile-menu__callback-btn:hover {
  opacity: 0.9;
}

.mobile-menu__social {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.mobile-menu__social-title {
  color: #fdfdfd;

  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 15px;
}

.mobile-menu__social-icons {
  display: flex;
  justify-content: space-between;

  max-width: 200px;
  padding: 16px 42px;

  border: 1px solid #d53289;
  border-radius: 20px;
  background: linear-gradient(
    178deg,
    rgba(213, 50, 137, 0.2) 0%,
    rgba(234, 82, 52, 0.2) 99.76%
  );

  gap: 40px;
}

.mobile-menu__social-icon {
  width: 28px;
  height: 28px;

  transition: transform 0.3s ease;
}

.mobile-menu__social-icon:hover {
  transform: scale(1.1);
}

.mobile-menu__contact {
  display: flex;

  color: #fdfdfd;

  font-family: "Jost", sans-serif;
  font-size: 16px;

  gap: 50px;
}

.mobile-menu__age {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: 1px solid #d53289;
  border-radius: 50%;
  background: linear-gradient(178deg, #d53289 0%, #ea5234 99.76%);

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Media Queries */
@media (min-width: 1180px) {
  .header {
    top: 28px;

    margin-top: 28px;

    border-radius: 25px;
  }

  .header__button {
    display: flex;
  }

  .header__contact {
    display: flex;
  }

  .header__icon {
    display: none;
  }

  .header__age {
    display: flex;
  }

  .header__social {
    display: flex;
  }
}

/* Hover Effects */
@media (hover: hover) {
  .header__icon:hover {
    border-color: #d53289;
    background: linear-gradient(
      178deg,
      rgba(213, 50, 137, 0.3) 0%,
      rgba(234, 82, 52, 0.3) 99.76%
    );
  }

  .header__button:hover {
    border-color: #d53289;
    background: linear-gradient(
      178deg,
      rgba(213, 50, 137, 0.4) 0%,
      rgba(234, 82, 52, 0.4) 99.76%
    );
  }

  .header__phone-link:hover {
    color: var(--color-accent);
  }
}
