.rfc-section-heading {
  display: flex;
  align-items: center;

  width: 100%;
  margin-bottom: 40px;

  gap: 24px;
}

.rfc-section-heading--left {
  flex-direction: row;

  text-align: left;
}

.rfc-section-heading--right {
  flex-direction: row-reverse;

  text-align: right;
}

.rfc-section-heading__content {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 40px;
}

.rfc-section-heading__inner {
  display: flex;
  align-items: center;

  width: 100%;

  gap: 24px;
}

.rfc-section-heading__line {
  flex-grow: 1;
  flex-shrink: 1;

  min-width: 100px;
  height: 3px;

  background: linear-gradient(
    90deg,
    rgba(234, 82, 52, 0.5) 0%,
    rgba(213, 50, 137, 0.5) 22.12%,
    rgba(33, 33, 33, 0.5) 82.21%
  );
}

.rfc-section-heading--left .rfc-section-heading__line {
  background: linear-gradient(
    250deg,
    rgba(234, 82, 52, 0.5) 0%,
    rgba(213, 50, 137, 0.5) 22.12%,
    rgba(33, 33, 33, 0.5) 82.21%
  );
}

.rfc-section-heading__text {
  flex-shrink: 0;

  min-width: 0;
  margin: 0;

  white-space: normal;
  text-transform: uppercase;
  word-break: normal;

  color: var(--color-white);

  font-family: Jost, sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;

  overflow-wrap: break-word;
}

.rfc-section-heading__subtext {
  max-width: 80%;

  color: var(--color-gray-light);

  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
}

.rfc-section-heading mark {
  white-space: normal;
  word-break: break-word;

  background: linear-gradient(90deg, #d53289, #ea5234);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.rfc-section-heading--right .rfc-section-heading__content {
  align-items: flex-end;
}

.rfc-section-heading--left .rfc-section-heading__inner {
  flex-direction: row-reverse;
}

.rfc-section-heading--left .rfc-section-heading__text,
.rfc-section-heading--left .rfc-section-heading__subtext {
  text-align: left;
}

.rfc-section-heading--right .rfc-section-heading__text,
.rfc-section-heading--right .rfc-section-heading__subtext {
  text-align: right;
}

@media (max-width: 1180px) {
  .rfc-section-heading {
    align-items: flex-start;
    flex-direction: column;

    text-align: start;

    gap: 0;
  }

  .rfc-section-heading__content {
    width: 100%;

    gap: 20px;
  }

  .rfc-section-heading__inner {
    align-items: flex-start;
    flex-direction: column;

    width: 100%;

    gap: 16px;
  }

  .rfc-section-heading--left .rfc-section-heading__inner {
    flex-direction: column;
  }

  .rfc-section-heading__line {
    width: 100%;
  }

  .rfc-section-heading--left .rfc-section-heading__line {
    background: linear-gradient(
      90deg,
      rgba(234, 82, 52, 0.5) 0%,
      rgba(213, 50, 137, 0.5) 22.12%,
      rgba(33, 33, 33, 0.5) 82.21%
    );
  }

  .rfc-section-heading__text {
    width: 100%;

    text-align: start;

    font-size: 36px;
  }

  .rfc-section-heading__subtext {
    max-width: unset;

    text-align: start;

    font-size: 14px;
  }

  .rfc-section-heading--right .rfc-section-heading__content {
    align-items: flex-start;
  }

  .rfc-section-heading--right .rfc-section-heading__text,
  .rfc-section-heading--right .rfc-section-heading__subtext {
    text-align: left;
  }
}
