.rfc-hero {
  width: 100%;
  margin-bottom: 60px;
}

.rfc-hero__container {
  position: relative;

  display: flex;
  align-items: flex-end;

  width: 100%;
  max-width: 1180px;
  min-height: 620px;
  margin: 0 auto;
}

.rfc-hero__bg-container {
  position: absolute;
  top: 6px;
  left: 0;

  width: 100%;
  height: 495px;
}

.rfc-hero__bg {
  position: absolute;
  z-index: 1;

  overflow: hidden;

  width: 100%;
  height: 100%;
}

.rfc-hero__bg::after {
  position: absolute;
  z-index: 2;

  content: "";
  pointer-events: none;

  opacity: 0.5;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4MCIgaGVpZ2h0PSI0OTUiIHZpZXdCb3g9IjAgMCAxMTgwIDQ5NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI1IDIuNUgxMTU1QzExNjcuNDMgMi41IDExNzcuNSAxMi41NzM2IDExNzcuNSAyNVY0NzBDMTE3Ny41IDQ4Mi40MjYgMTE2Ny40MyA0OTIuNSAxMTU1IDQ5Mi41SDUyNUM1MTIuNTc0IDQ5Mi41IDUwMi41IDQ4Mi40MjYgNTAyLjUgNDcwVjM2NUM1MDIuNSAzNDkuODEyIDQ5MC4xODggMzM3LjUgNDc1IDMzNy41SDI1QzEyLjU3MzYgMzM3LjUgMi41IDMyNy40MjYgMi41IDMxNVYyNUMyLjUgMTIuNzY3OSAxMi4yNjExIDIuODE2MDEgMjQuNDE4OSAyLjUwNzgxTDI1IDIuNVoiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjE1IiBzdHJva2Utd2lkdGg9IjUiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  inset: 0;
}

.rfc-hero__img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4MCIgaGVpZ2h0PSI0OTUiIHZpZXdCb3g9IjAgMCAxMTgwIDQ5NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExNTUgMEMxMTY4LjgxIDAgMTE4MCAxMS4xOTI5IDExODAgMjVWNDcwQzExODAgNDgzLjgwNyAxMTY4LjgxIDQ5NSAxMTU1IDQ5NUg1MjVDNTExLjE5MyA0OTUgNTAwIDQ4My44MDcgNTAwIDQ3MFYzNjVDNTAwIDM1MS4xOTMgNDg4LjgwNyAzNDAgNDc1IDM0MEgyNUMxMS4xOTI5IDM0MCAwIDMyOC44MDcgMCAzMTVWMjVDMCAxMS4xOTI5IDExLjE5MjkgMy4yMjEyOWUtMDcgMjUgMEgxMTU1WiIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4MCIgaGVpZ2h0PSI0OTUiIHZpZXdCb3g9IjAgMCAxMTgwIDQ5NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExNTUgMEMxMTY4LjgxIDAgMTE4MCAxMS4xOTI5IDExODAgMjVWNDcwQzExODAgNDgzLjgwNyAxMTY4LjgxIDQ5NSAxMTU1IDQ5NUg1MjVDNTExLjE5MyA0OTUgNTAwIDQ4My44MDcgNTAwIDQ3MFYzNjVDNTAwIDM1MS4xOTMgNDg4LjgwNyAzNDAgNDc1IDM0MEgyNUMxMS4xOTI5IDM0MCAwIDMyOC44MDcgMCAzMTVWMjVDMCAxMS4xOTI5IDExLjE5MjkgMy4yMjEyOWUtMDcgMjUgMEgxMTU1WiIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.rfc-hero__bg-overlay {
  position: absolute;
  z-index: 2;

  inset: 0;
}

.rfc-hero__content {
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 500px !important;
  max-width: 500px;
  height: 100%;
  flex-shrink: 0;

  pointer-events: auto;

  gap: 30px;
}

.rfc-hero__title {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: var(--color-white);

  font-family: Jost;
  font-size: 52px;
  font-weight: 600;
  font-style: normal;
  line-height: 60px;
}

.rfc-hero__title mark {
  white-space: normal;
  word-break: break-word;

  background: linear-gradient(90deg, #d53289, #ea5234);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.rfc-hero__badges {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.rfc-hero__badges-mobile {
  display: none;
}

.rfc-hero__badge {
  display: flex;
  align-items: center;

  padding: 15px 25px;

  opacity: 0.75;
  color: var(--color-white);
  border: 0.5px solid #d9d9d9;
  border-radius: 10px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;

  gap: 10px;
}

.rfc-hero__badge svg {
  width: 15px;
  height: 15px;
}

.rfc-hero__buttons {
  z-index: 1;

  display: flex;
  justify-content: flex-end;

  width: 100%;

  gap: 20px;
}

.rfc-hero__button {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  padding: 20px 30px;

  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;

  color: #f2f2f2;
  border: 2px solid var(--color-white-25);
  border-radius: var(--radius-main);
  background: var(--gradient-main);

  gap: 10px;
}

.rfc-hero__button-text {
  text-transform: uppercase;

  font-family: "Jost", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}

.rfc-hero__button-subtext {
  opacity: 0.5;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 10px;
}

.rfc-hero__next-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 80px;
  padding: 40px;

  border: 2px solid var(--color-white-10);
  border-radius: var(--radius-large);
  background: var(--color-bg-card);

  filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.07));
}

.rfc-hero__next-button svg {
  width: 40px;
}

@media (max-width: 1180px) {
  .rfc-hero {
    margin-bottom: 30px;
  }

  .rfc-hero__container {
    flex-direction: column;

    gap: 10px;
  }

  .rfc-hero__bg-container {
    position: relative;
    z-index: 0;

    display: flex;

    margin-bottom: -150px;
  }

  .rfc-hero__bg {
    position: relative;

    width: 100%;
    max-height: 420px;
  }

  .rfc-hero__img {
    width: 100%;
    height: 100%;

    border-radius: 25px;

    mask-image: none;
    -webkit-mask-image: none;
    object-fit: cover;
  }

  .rfc-hero__bg::after {
    display: none;
  }

  .rfc-hero__next-button {
    display: none;
  }

  .rfc-hero__content {
    width: 100%;
    max-width: unset;
    margin-top: 42px;
    padding: 26px;

    border: 2px solid #7e7e7e;
    border-radius: var(--radius-large);
    background: rgba(60, 11, 37, 0.2);

    -webkit-backdrop-filter: var(--blur-small);
    backdrop-filter: var(--blur-small);
  }

  .rfc-hero__title {
    text-align: center;

    color: var(--color-white);

    font-size: 28px;
    line-height: 28px;
  }

  .rfc-hero__title mark {
    background: var(--color-white);
    -webkit-background-clip: text;
    background-clip: text;
  }

  .rfc-hero__badges {
    display: none;
  }

  .rfc-hero__badges-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;

    gap: 10px;
  }

  .rfc-hero__badge {
    padding: 10px 15px;

    font-size: 16px;
    line-height: 14px;
  }
}

@media (hover: hover) {
  .rfc-hero__button:hover {
    cursor: pointer;

    background: linear-gradient(
      268deg,
      rgba(213, 50, 137, 0.7) 0%,
      rgba(234, 82, 52, 0.7) 99.76%
    );
  }

  .rfc-hero__next-button:hover {
    cursor: pointer;

    background: rgba(255, 255, 255, 0.1);
  }
}
